.basic_smooth {
  .snap-item {
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;

    &_overlay {
      background: rgba(0,0,0,.5);
    }
  }
}
